# trivup KafkaBrokerApp template config file
broker.id=${appid}
port=${port}
reserved.broker.max.id=65536
listeners=${listeners}
advertised.listeners=${advertised_listeners}
log.dir=${log_dirs}
log.dirs=${log_dirs}
num.partitions=${num_partitions}
zookeeper.connect=${zk_connect}
auto.create.topics.enable=${auto_create_topics}
delete.topic.enable=true
default.replication.factor=${replication_factor}
offsets.topic.replication.factor=${replication_factor}
security.inter.broker.protocol=PLAINTEXT
